language: ruby
rvm:
  - 2.1.5
deploy:
  provider: heroku
  api_key:
    secure: <%= ENV['API_SECRET'] %>
  run:
    - 'rake db:setup'
  app: <%= ENV['HEROKU_APP_NAME'] %>
  on:
    repo: ardhena/workshops
before_script:
  - export RAILS_ENV=test
  - cp config/database.yml.travis config/database.yml
script:
  - bundle exec rake db:create db:migrate db:test:prepare
