body {
	background-image: url("http://www.transparenttextures.com/patterns/arches.png");
	background-color: $bg;
	color: $secondary-base;
	font-size: 12pt;
	h1, h2, h3, h4, h5, h6 {
		color: $primary-base;
	}
}

.navbar, .navbar-default {
	background-color: $primary-base;
	border-color: $bg;
	.navbar-header a.navbar-brand {
		color: $primary;
		&:hover { 
			color: $secondary;
		}
	}
	.navbar-collapse ul.nav.navbar-nav li a {
		color: $secondary;
		&:hover { color: $primary; }
	}
}

table.table.table-hover tbody tr {
	th, td {
		border-color: $secondary;
	}
	&:hover th, &:hover td {
		background-color: rgba($primary, 0.5);
		color: $primary-base;
	}
}

.btn.btn-default {
	background-color: $secondary;
	border-color: $secondary-base;
	color: $primary-base;
	&:hover {
		background-color: $secondary-base;
		color: $primary-base;
	}
}
.btn.btn-primary {
	background-color: $primary;
	border-color: $primary-base;
	color: $primary-base;
	&:hover {
		background-color: $primary-base;
		color: $primary;
	}
}

a {
	color: $primary;
	&:hover {
		color: $primary-base;
	}
}

ol.breadcrumb {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 10pt;
	background-color: rgba($secondary, 0.5);
	li:before, .active { color: $primary-base; }
	a { color: $secondary-base; }
}

.panel.panel-default {
	margin-top: 20px;
	background-color: rgba($secondary, 0.5);
	border-color: $primary-base;
	.panel-heading {
		background-color: rgba($secondary-base, 0.5);
		border-color: $primary-base;
		h3.panel-title {
			color: $primary-base;
			font-size: 14pt;
		}
	}
	.panel-body {
		border-color: $primary-base;
	}
}

.panel.panel-review {
	background-color: rgba($secondary, 0.3);
	border-color: $secondary-base;
	.panel-heading {
		background-color: rgba($secondary-base, 0.3);
		border-color: $secondary-base;
		h3.panel-title {
			color: $secondary-base;
			font-size: 12pt;
			.author {
				display: inline-block;
				color: $primary-base;
			}
		}
	}
	.panel-body {
		border-color: $primary-base;
		font-size: 11pt;
		.date {
			font-size: 10pt;
			color: $secondary;
			font-style: italic;
		}
		p { margin: 5px 0 5px 0; }
	}
	.panel-footer {
		background-color: rgba($secondary, 0.1);
		border-color: $secondary-base;
		span {
			font-size: 11pt;
			color: $primary-base;
		}
	}
}

.badge {
	background-color: $primary;
	color: $primary-base;
}

.buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}