%h1 Editing category
%ol.breadcrumb
	%li= link_to 'HOME', root_path
	%li.active Edit Category
= render 'form'
.buttons
	%span= link_to 'Back', categories_path, class: 'btn btn-primary'
	%span= link_to 'Show category', category, class: 'btn btn-default'